body {
    background-color: #ffef77;
}
html, body {
    margin: 0px;
    padding: 0px;
}
* {
    margin: 0px;
    padding: 0px;
}
.holaa {
    background-color: rgba(0, 0, 0, 0.74);
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0px;
    color: white;
    display: flex;
    flex-direction: row;
    height: auto;
    line-height: 50px;
    font-size: 30px;
    font-family: c bell mt;
    box-shadow: 1px -2px 15px 8px white;
}
.nav li ul {
    position: absolute;
    top: 60px;
    border: none;
    background-color: rgba(0, 0, 0, 0.64);
}
.nav li ul li {
    padding: 10px;
    border-bottom: solid white 3px;
}
.nav li ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.74);
    background-color: #777777;
    transition: all 0.3s;
}
.holaa strong {}
strong {
    font-size: 33px;
    font-family: bell mt;
    padding-right: 32px;
}
.gallo strong em {}
.holaa img {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-top: 14px;
    margin-left: 20px;
}
.gallo {
    display: flex;
    flex-direction: row;
}
.holaa li ul a {
    display: block;
    color: white;
}
.header {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.6);
    border: dashed #222222 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.nav li ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.74)
}
#header {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 629px;
    margin-left: 500px;
    font-size: 23px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#header .nav .jola:hover {
    background-color: #777777;
    border: solid white 2px;
    transition: all 0.3s;
}
#header .nav .jola {
    display: flex;
    justify-content: center;
}
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.header ul .nav {
    align-items: flex-end;
}
.nav>li {
    float: left;
    padding: 0px;
    margin: 0px;
}
.nav li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 5px;
    padding: 0px;
    margin: 0px;
    margin-right: 20px;
    display: block;
}
.nav li ul {
    display: none;
    padding: 0px;
    margin: 0px;
    min-width: 140px;
}
.nav li:hover>ul {
    display: block;
}
.nav li ul li ul {
    right: -140px;
    top: 1120px;
}
body {
    display: flex;
    width: 100%;
    justify-content: center;
}
table {
    margin: 0px;
    padding: 0px;
}
header {
    margin-top: 140px;
}
td table .trucho img {
    width: 200px;
    height: 200px;
}
.klk {
    height: 40px;
}
td {
    margin: 0px;
    padding: 0px;
}
option img {
    width: 100px;
    height: 80px;
}
.yoo img {
    width: 200px;
    height: 100px;
}
.trucho img:hover {
    transform: scale(1.9);
    cursor: pointer;
    overflow: hidden;
    transition: all 2s;
}
.trucho {
    overflow: hidden;
    transition: all 2s;
}
.jola {
    overflow: hidden;
    transition: all 2s;
}
@media (max-width: 1350px) {
    .holaa {
        top: 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    strong em {}
    .holaa strong {
        padding-left: 0px;
    }
    .holaa img {
        margin-top: 0px;
        margin-left: 0px;
    }
    ul, ul li a {
        margin: 0px;
        padding: 0px;
    }
    .gallo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #header {
        margin-left: 39%;
        padding: 0px;
        width: 170px;
        justify-content: center;
    }
    strong {
        margin-left: 39%;
    }
}