 body {
     display: flex;
     justify-content: center;
     flex-direction: column;
     height: 1500px;
     background-color: #ffef77;
 }
 html, body {
     margin: 0px;
     padding: 0px;
 }
 .holaa {
     background-color: rgba(0, 0, 0, 0.74);
     width: 100%;
     position: fixed;
     z-index: 999;
     top: 0px;
     color: white;
     display: flex;
     flex-direction: row;
     height: auto;
     line-height: 50px;
     font-size: 30px;
     font-family: c bell mt;
     box-shadow: 1px -2px 15px 8px white;
 }
 .nav li ul {
     position: absolute;
     top: 60px;
     border: none;
     background-color: rgba(0, 0, 0, 0.64);
 }
 .holla_b img {
     width: 200px;
     height: 200px;
     border-radius: 50%;
     text-align: center;
     box-shadow: 1px -2px 12px 3px black;
 }
 .holla_b {
     word-spacing: 100px;
     margin-top: 30px;
     text-align: center;
 }
 .nav li ul li {
     padding: 10px;
     border-bottom: solid white 3px;
 }
 .nav li ul li:hover {
     cursor: pointer;
     background-color: rgba(0, 0, 0, 0.74);
     background-color: #777777;
     transition: all 0.3s;
 }
 .holaa strong {}
 strong {
     font-size: 33px;
     font-family: bell mt;
     padding-right: 32px;
 }
 .gallo strong em {}
 .holaa img {
     border-radius: 100%;
     width: 40px;
     height: 40px;
     margin-top: 14px;
     margin-left: 20px;
 }
 .gallo {
     display: flex;
     flex-direction: row;
 }
 .holaa li ul a {
     display: block;
     color: white;
 }
 .header {
     width: 80%;
     display: flex;
     justify-content: center;
     margin: auto;
     background-color: rgba(255, 255, 255, 0.6);
     border: dashed #222222 15px;
     border-top-right-radius: 15px;
     border-top-left-radius: 15px;
 }
 .nav li ul li:hover {
     cursor: pointer;
     background-color: rgba(0, 0, 0, 0.74)
 }
 #header {
     margin: auto;
     display: flex;
     justify-content: center;
     width: 629px;
     margin-left: 500px;
     font-size: 23px;
     padding: 0px;
     font-family: Arial, Helvetica, sans-serif;
 }
 #header .nav .jola:hover {
     background-color: #777777;
     border: solid white 2px;
     transition: all 0.3s;
 }
 #header .nav .jola {
     display: flex;
     justify-content: center;
 }
 ul {
     list-style: none;
     padding: 0px;
     margin: 0px;
 }
 .header ul .nav {
     align-items: flex-end;
 }
 .nav>li {
     float: left;
     padding: 0px;
     margin: 0px;
 }
 .nav li a {
     color: #fff;
     text-decoration: none;
     padding: 5px 5px;
     padding: 0px;
     margin: 0px;
     margin-right: 20px;
     display: block;
 }
 }
 .nav .jola .ini_1:hover {
     background-color: #777777;
     border: solid white 2px;
     transition: all 0.3s;
     text-decoration: underline;
 }
 .nav li ul {
     display: none;
     padding: 0px;
     margin: 0px;
     min-width: 140px;
 }
 .nav li:hover>ul {
     display: block;
 }
 .nav li ul li ul {
     right: -140px;
     top: 1120px;
 }
 #contenedor {
     margin-top: 140px;
     margin-left: 5%;
     width: 90%;
     box-shadow: 1px -2px 12px 3px black;
     background-color: white;
     height: 760px;
     display: flex;
     margin-bottom: 50px;
     justify-content: center;
 }
 #contenedor_2 {
     display: flex;
     justify-content: center;
     width: 100%;
     border: dashed 120px yellow box-shadow: 1px -2px 12px 3px black;
     background-color: white;
 }
 .historia {
     font-size: 33px;
 }
 .mitad_1 {
     width: 50%;
     float: left;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .Loren {
     text-align: justify;
 }
 .loo {
     font-size: 20px;
 }
 .b1965 {
     text-align: justify;
 }
 #img_ramos {
     width: 520px;
 }
 .kola {
     font-family: arial;
     line-height: 70px;
 }
 .Loren {
     float: right;
     font-family: calibri;
     font-size: 20px;
     text-align: justify;
 }
 div .Loren {
     text-align: justify;
 }
 .mitad_2 {
     width: 50%;
     display: flex;
     flex-direction: column;
     align-items: center;
     border-left: solid 2px black;
     display: flex;
     flex-direction: column;
 }
 .sb-slider li a img {}
 @media (max-width: 1350px) {
     .holaa {
         top: 0px;
         display: flex;
         justify-content: center;
         flex-direction: column;
     }
     .nav {
         display: flex;
         flex-direction: column;
         justify-content: center;
     }
     strong em {}
     .holaa strong {
         padding-left: 0px;
     }
     .holaa img {
         margin-top: 0px;
         margin-left: 0px;
     }
     ul, ul li a {
         margin: 0px;
         padding: 0px;
     }
     .gallo {
         display: flex;
         flex-direction: column;
         justify-content: center;
     }
     #header {
         margin-left: 39%;
         padding: 0px;
         width: 170px;
         justify-content: center;
     }
     strong {
         margin-left: 39%;
     }
 }